body{
    background: rgb(139,11,11);
    background: linear-gradient(90deg, rgba(139,11,11,1) 0%, rgba(66,8,8,1) 51%, rgba(2,0,36,1) 100%);
    min-height: 100vh;
    margin: 0;
    color: white;
}

.quiz-container{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.quiz-header{
    border-radius: 10px 10px 0 0;
    padding: 2rem;
    background-color: white;
    width: 562.9px;
    color: black;
}

.quiz-container ul{
    list-style-type: none;
    padding: 0;
}

#submit{
    background-color: coral;
    padding: 1.3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 627.21px;
    border-radius: 0 0 10px 10px;
}

.btn-login{
    background-color: coral;
    padding: 1.3rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 450px;
    border-radius: 0 0 10px 10px;
}

.submit:hover{
    background-color: #cc5a30;
}

.content-login{
    color: black;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 450px;
    max-width: 100%;
    padding-top: 10px;
}

.btn-login{
    margin-top: 10%;
}

.container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container-index{
    color: white;
    padding-top: 1.5%;
    padding-right: 5%;
    padding-left: 8%;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-navigation ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 45px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.logo-header{
    height: 60px;
    width: 160px;
}

.dropbtn {
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 15px;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown a:hover {background-color: #ddd;}
  
.show {display: block;}

main{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.content h1{
    font-size: 90px;
    margin: 0;
}

.content p{
    font-size: 25px;
}

.log-reg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-reg a{
    color: black;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: coral;
    padding: 15px 30px 15px 30px;
}

.btn-rld{
    background-color: coral;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
}